* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #404A65;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #ECEDF0;
}

.h1 {
    margin-top: 3.1rem;
    text-shadow:  
    /* 1. Обводка в 1px (Все 8 направлений) */
    5px 0 0 #35383F,    /* Вправо */
    -5px 0 0 #35383F,   /* Влево */
    0 5.5px 0 #35383F,    /* Вниз */
    0 -5px 0 #35383F,   /* Вверх */
    5.5px 5.5px 0 #35383F,   /* Диагональ (вниз-вправо) */
    -5px -5px 0 #35383F,  /* Диагональ (вверх-влево) */
    5px -5px 0 #35383F,  /* Диагональ (вверх-вправо) */
    -5.5px 5.5px 0 #35383F,   /* Диагональ (вниз-влево) */

    /* 2. Обводка в 2px (Добавляем второй слой толщины) */
    2px 0 0 #35383F,
    -2px 0 0 #35383F,
    0 2px 0 #35383F,
    0 -2px 0 #35383F,
    2px 2px 0 #35383F,
    -2px -2px 0 #35383F,
    2px -2px 0 #35383F,
    -2px 2px 0 #35383F;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.description {
    font-size: 1.5rem;
    padding: 0 10px;
    margin-bottom: 60px;
}

.container-images {
    display: flex;
    flex-direction: column;
}

.coin-shadow {
    width: 95px;
    margin-top: 35px;
    margin-left: 30px;
}

.coin-title {
    margin-top: 40px;
}


.button {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #1F6FB0;
    padding: 8px;
    width: 165px;
    text-transform: capitalize;
    color: #ECEDF0;
    border: none;
    border-bottom: 4px solid #235f90;
    border-radius: 10px;
    margin-bottom: 1.5%;
    margin-top: 4rem;
}

.button:active {
    border-bottom: none;
    margin-top: 68px;;
}

.author-info {
    text-align: center;
    height: 0.5%;
}

.unvisible {
    opacity: 0;
}

a {
    color: #1F6FB0;
}

@media (max-width: 1200px) {
    .h1 {
        margin-top: 2rem;
    }

    .button {
        margin-top: 42px;
    }

    .button:active {
        margin-top: 44px;
    }
}